<!doctype html>
<html lang='<%= data.site.options.language %>'>
  <%= partial 'partials/head_landing' %>
  <body class='<%= page_classes %>'>
<div class="content-wrapper content">
<%= cleanup_summary_start_end_separator(yield) %>
</div>
      <% if config[:environment] == :production %>
        <%= google_analytics_universal_tag %>
      <% end %>
  </body>
</html>
