<!doctype html>
<html lang='<%= data.site.options.language %>'>
  <%= partial 'partials/head' %>

  <body class='<%= page_classes %>'>
    <%= partial 'partials/navigation' %>

    <main class='content'>
      <%= yield %>
    </main>

  </body>
</html>
