<!doctype html>
<html lang='<%= data.site.options.language %>'>
  <%= partial 'partials/head' %>

  <body class='<%= page_classes %>'>
    <div class="content-wrapper">
      <%= partial 'partials/navigation' %>

      <div class="content-container container">
        <% unless current_page.data.title.to_s.downcase == 'home' %>
          <div class="row">
            <div class="col-xs-12">
              <ul class="breadcrumb">
                <%= breadcrumbs current_page, wrapper: :li, separator: nil %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="row content">
          <div class="col-xs-12">
            <%= cleanup_summary_start_end_separator(yield) %>
          </div>
        </div>
      </div>

      <%= partial 'partials/footer' %>


    </div>
      <% if config[:environment] == :production %>
        <%= google_analytics_universal_tag %>
      <% end %>
  </body>
</html>
