<!doctype html>
<html lang='<%= data.site.options.language %>'>
  <%= partial 'partials/head' %>

  <body class='<%= page_classes %>'>
    <%= partial 'partials/navigation' %>

    <section>
      <main class='content'>
        <%= yield %>
      </main>
    </section>

    <%= partial 'partials/footer' %>
  </body>
</html>
