<footer class="navbar navbar-dark bg-inverse">
  <div class="container">
    <div class="text-xs-center">
      <ul class="nav navbar-nav">
        <%= navigation_list(data.site.main_navigation, li_class: "nav-item", a_class: "nav-link") %>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <address>
          <%= data.site.company.name %>
          <br>
          <%= data.site.company.street %>,
          <%= data.site.company.city %>
          <%= data.site.company.contry%>
          <br>
          <a href="mailto:<%= data.site.company.email%>"><%= data.site.company.email%></a>
        </address>
      </div>

      <div class="col-xs-12 col-sm-6 text-sm-right fa-icon-row">
        <% data.site.social_media.each_with_index do |(icon, path), index| %>
          <% if index > 0 && index % 4 == 0 %>
            </div>
            <div class="col-xs-12 col-sm-6 text-sm-right fa-icon-row">
          <% end %>

          <% link_to path, class: "fa fa-#{icon} fa-icon fa-align-center" do %>
            <span class="sr-only"><%= data.site.company.name %> on <%= icon %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
