---
title: About us
---

# About us

4Quant is a Spin-off of [ETH Zurich](https://www.ethz.ch/de.html) and the [Paul Scherrer Institut](https://www.psi.ch/) based on the [PhD Thesis]() of [Kevin Mader](https://ch.linkedin.com/in/kevinmader) done in the [X-Ray Microscopy Laboratory](https://www.psi.ch/lsb-tomography/x-ray-tomography-group) of Marco Stampanoni.

We are funded by the [Pioneer Fellowship](https://www.ethz.ch/en/research/research-promotion/eth-internal-programmes/pioneer-fellowships.html) of the ETH Zurich and a member of the [ETH Innovation and Entrepreneurship Lab](https://www.ethz.ch/en/industry-and-society/innovation-and-setting-up-companies/ielab.html). We are built on a strong foundation of partnerships ranging from the [IBM Global Entrepreneur Program](https://www-01.ibm.com/software/info/ecod/cloudoffer/startup.html) and [Databricks](https://databricks.com/) for Cloud Support to [SLS Techno Trans AG](https://www.psi.ch/sls-techno-trans-ag/) for access to the latest generation of imaging techniqes.

We are committed to Open Source and have many of our projects available on [Github](https://github.com/4Quant) and we push many of our latest developments back to the core project so the entire community can benefit from our developments.

## Team
<%= partial 'partials/team' %>

## Advisors
<%= partial 'partials/advisors' %>

## Customers
<%= partial 'partials/brands', locals: { collection: data.brands.customers, collection_name: 'customers' } %>

## Partners
<%= partial 'partials/brands', locals: { collection: data.brands.partners, collection_name: 'partners' } %>

## Affiliations
<%= partial 'partials/brands', locals: { collection: data.brands.affiliations, collection_name: 'affiliations' } %>

## Get in touch

You can get in touch via [email](mailto:i%6Efo@4%71u%61nt.com), [Twitter](https://twitter.com/4quant), [Linkedin](https://www.linkedin.com/company/4quant) or [Facebook](https://www.facebook.com/4quant/). <br>
<br>
4Quant Ltd.<br/>
Binzmühlestrasse 56<br/>
CH-8050 Zurich<br/>
<br>
<a href="mailto:<%= data.site.company.email%>"><%= data.site.company.email_intag %></a> <br/>
CHE-168.792.194 <br/>
